asgiref==3.5.2
attrs==22.1.0
black==22.12.0
click==8.1.3
coverage==6.5.0
Django==4.1.4
django-js-asset==2.0.0
django-mptt==0.14.0
djangorestframework==3.14.0
drf-spectacular==0.25.1
flake8==6.0.0
inflection==0.5.1
iniconfig==1.1.1
jsonschema==4.17.3
mccabe==0.7.0
mypy-extensions==0.4.3
packaging==22.0
pathspec==0.10.3
platformdirs==2.6.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyrsistent==0.19.2
pytest==7.2.0
pytest-cov==4.0.0
pytest-django==4.5.2
python-dotenv==0.21.0
pytz==2022.6
PyYAML==6.0
sqlparse==0.4.3
uritemplate==4.1.1
